<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Freddy's DnD</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
    <link rel="stylesheet" href="/React/Choose/index-DbiDFi_p.css">
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.USERNAME = /*[[${name}]]*/ 'Felhasználó alapértelmezett';
        window.PROFILE_IMAGE_URL = /*[[${profileImageUrl}]]*/ '/media/profile-icon.png';
        /*]]>*/
    </script>
    <script defer src="/React/Choose/index-kNmO-5cb.js"></script>
</head>
<body>
    <div id="root"></div>
</body>
</html>