<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Freddy's DnD</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
    <link rel="stylesheet" href="/React/Main/index-BSk4tB30.css">
    <script defer src="/React/Main/index-ClBpBLoS.js"></script>
</head>
<body>
    <div id="root"></div>
    <!-- Ezeket React olvassa be, de nem jeleníti meg -->
    <a th:href="@{/login}" id="login-link" style="display: none;">Login</a>
    <a th:href="@{/registration}" id="registration-link" style="display: none;">Registration</a>
</body>
</html>